<!--Header-->
<div class="row" style="text-align:center">
	<div class="col-sm-12">
		<p>
			<h1>Abhijit Annaldas</h1>
			<br />
			<a href="http://abhijitannaldas.com/">
			<img class="image-cropper" src="https://github.com/avannaldas/avannaldas.github.io/raw/master/css/1.jpg" />
			</a>
			<br />
			<h4>Dreamer, Learner, Reader, Writer, Doer</h4>
		</p>
	</div>
</div>

<div class="row">
	<div class="col-sm-12" style="margin-bottom:5px;text-align:center">
		<h5>
		<A href="http://github.com/avannaldas" target="_blank">GitHub</A> · 
		<A href="http://linkedin.com/in/avannaldas" target="_blank">LinkedIn</A> · 
		<A href="https://www.quora.com/profile/Abhijit-Annaldas" target="_blank">Quora</A> ·
		<A href="http://twitter.com/avannaldas" target="_blank">Twitter</A>
		</h5>
	</div>
</div>

<hr/>